.main-content {
    text-align: center;
    padding: 50px;
    animation: fadeInUp 1s ease-in-out;
}

.animation {
    animation: slideIn 1s ease-in-out infinite alternate;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}